@model SyncfusionProof.Models.HomeModel

@{
  ViewBag.Title = "Home Page";
}

@*Basic Grid*@
@*<div id="GridContainer">
  @Html.DisplayForModel("ScrollResponsiveTest")
</div>*@

@*Tabbed Grids*@
@*@Html.EJ().Tab("TabTest").Items(x =>
{
  x.Add().ID("TabOne").Text("Tab One").ContentTemplate(@<div class="row">@Html.DisplayForModel("TabOne")</div>);
  x.Add().ID("TabTwo").Text("Tab Two").ContentTemplate(@<div class="row">@Html.DisplayForModel("TabTwo")</div>);
}).EnablePersistence().ClientSideEvents(x => x.ItemActive("onItemActive"))*@

@*Enable Persistence*@
@*@Html.DisplayForModel("EnablePersistence")*@

@*Multi-Select*@
@*@Html.DisplayForModel("MultiSelect")*@

@*Multi-Select Grouped*@
@*@Html.DisplayForModel("MultiSelectGrouped")*@

@*Inline Editable Grid*@
@*@Html.DisplayForModel("InlineEditing")*@

@*ListView bound to a view model*@
@Html.DisplayForModel("ListViewModelBinding")

@*ListView done manually*@
@Html.Partial("./DisplayTemplates/ListViewManual")
