@model IEnumerable<SyncfusionProof.Models.TestModel>

@{
  ViewBag.Title = "Home Page";
}

@*Basic Grid*@
@*<div id="GridContainer">
  @Html.DisplayFor(x => x, "ScrollResponsiveTest")
</div>*@

@*Tabbed Grids*@
@Html.EJ().Tab("TabTest").Items(items =>
{
  items.Add().ID("TabOne").Text("Tab One").ContentTemplate(@<div class="row">@Html.DisplayFor(x => x, "TabOne")</div>);
  items.Add().ID("TabTwo").Text("Tab Two").ContentTemplate(@<div class="row">@Html.DisplayFor(x => x, "TabTwo")</div>);
})

@section scripts {
  @Scripts.Render("~/Bundles/Syncfusion")
}
