@model SyncfusionProof.Data.Models.HomeModel

@{
  ViewBag.Title = "Home Page";
}

@*undo delete alert*@
<div id="UndoAlert" class="alert alert-danger" role="alert" style="display:none;">
  <strong>Record(s) deleted.</strong>
  <a id="UndoLink" href="#" class="alert-link btn btn-default">Undo</a>
</div>

@*Basic Grid*@
@*<div id="GridContainer">
  @Html.DisplayForModel("ScrollResponsiveTest")
</div>*@

@*Tabbed Grids*@
@*@Html.EJ().Tab("TabTest").Items(x =>
{
  x.Add().ID("TabOneTab").Text("Tab One").ContentTemplate(@<div class="row">@Html.DisplayForModel("TabOne")</div>);
  x.Add().ID("TabTwoTab").Text("Tab Two").ContentTemplate(@<div class="row">@Html.DisplayForModel("TabTwo")</div>);
  x.Add().ID("InlineEditingTab").Text("Inline Editing").ContentTemplate(@<div class="row">@Html.DisplayForModel("InlineEditing")</div>);
}).EnablePersistence().ClientSideEvents(x => x.ItemActive("onItemActive"))*@

@*Enable Persistence*@
@*@Html.DisplayForModel("EnablePersistence")*@

@*Multi-Select*@
@*@Html.DisplayForModel("MultiSelect")*@

@*Multi-Select Grouped*@
@*@Html.DisplayForModel("MultiSelectGrouped")*@

@*Inline Editable Grid*@
@*@Html.DisplayForModel("InlineEditing")*@

@*ListView bound to a view model*@
@*@Html.DisplayForModel("ListViewModelBinding")*@

@*ListView done manually*@
@*@Html.Partial("./DisplayTemplates/ListViewManual")*@

@*Grids that share Ids demonstrate some layout and caching problems*@
@*<ul>
  <li>@Html.ActionLink("GridCache1", "GridCache1", "Home")</li>
  <li>@Html.ActionLink("GridCache2", "GridCache2", "Home")</li>
</ul>*@

@* Toolbar Template Grid *@
@*@Html.DisplayForModel("ToolbarTemplate")*@

@* Checkbox Column Test *@
@*@Html.DisplayForModel("CheckboxColumn")*@

@*Bootstrap Tabs*@
@*<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#tabone">Tab One</a></li>
  <li><a data-toggle="tab" href="#tabtwo">Tab Two</a></li>
  <li><a data-toggle="tab" href="#tabthree">Tab Three</a></li>
</ul>*@

@*note: all tab content divs are active (class="in active") initially because Syncfusion grids don't render properly if they're hidden at load time.
  The javascript handles which tab becomes visible after the page loads.*@
@*<div class="tab-content">
  <div id="tabone" role="tabpanel" class="tab-pane fade in active">@Html.DisplayForModel("TabOne")</div>
  <div id="tabtwo" role="tabpanel" class="tab-pane fade in active">@Html.DisplayForModel("TabTwo")</div>
  <div id="tabthree" role="tabpanel" class="tab-pane fade in active">@Html.DisplayForModel("InlineEditing")</div>
</div>*@

@*report buttons*@
@Html.ActionLink("Report Model Bound (no parameters)", "ReportModelBoundNoParameters", "Home", new { @customerId = "5423115657865424ABCD" }, new { @class = "btn btn-default" })
@Html.ActionLink("Report Model Bound (with parameters)", "ReportModelBoundWithParameters", "Home", null, new { @class = "btn btn-default" })

@*this is not officially supported in syncfusion reports*@
@*http://www.syncfusion.com/support/directtrac/incidents/149009*@
@*@Html.ActionLink("Report Nested Models", "ReportNestedModels", "Home", new { @customerId = "5423115657865424ABCD" }, new { @class = "btn btn-default" })*@

@Html.ActionLink("Report Multi Dataset", "ReportMultiDataset", "Home", new { @customerId = "5423115657865424ABCD" }, new { @class = "btn btn-default" })
@Html.ActionLink("Report With Subreport", "ReportWithSubreport", "Home", new { @customerId = "5423115657865424ABCD" }, new { @class = "btn btn-default" })

@section scripts {
  <script id="Refresh" type="text/x-jsrender">
    <a href="#" class="e-toolbaricons refresh" />
  </script>
}
